@{
    ViewData["Examen P1"] = "Examen Page";
}

<div class="text-center">
    <h1><strong><em>Bienvenidos Examen Progreso 1</em></strong></h1>

    <ul class="list-group">
        <li class="list-group-item">Estudiante: David Rueda</li>
        <li class="list-group-item">Materia: Programacion IV</li>
        <li class="list-group-item">Paralelo: 1</li>
        <li class="list-group-item">Progreso: 1</li>
        <li class="list-group-item">Siglas: ITIZ 2200</li>
    </ul>
    <img src="https://media.primicias.ec/2022/02/04094454/RGB_LOGO-UDLA_2021_ROJO.png" alt="UDLA" width="250" height="150">

</div>
